.form {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  box-shadow: 5px 5px 10px var(--Shadow),
    -5px -5px 10px var(--Shadow2);
  width: fit-content;
  margin: auto;
  padding: 1em;
}

.form label {
  margin: .16em 1.2em;
}

.form input {
  font-size: 2rem;
  background-color: var(--Background);
  border: none;
  border-radius: 3em;
  width: 30em;
  padding: .5em 1.5em;
}

.submit {
  cursor: pointer;
  font-size: 2rem;
  border: none;
  border-radius: 3em;
  width: fit-content;
  margin: 2em auto;
  padding: 1em 3em;
}

.input-err-msg {
  color: var(--DangerText);
  font-size: .7em;
  margin: .5em 1.7em;
}