/* || GENERAL || */

* {
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 0;
}

:root {
  --MainText: #000;
  --NavBg: #043659;
  --NavLinks: #648aa5;
  --Background: #f0f0f0;
  --DangerBorder: #c68b8b;
  --DangerBg: #e3a5a5;
  --DangerText: #b00;
  --SuccessBorder: #8bc68b;
  --SuccessBg: #a5e5a5;
  --SuccessText: #0b0;
  --Shadow: #c0c0c0;
  --Shadow2: #fff;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  font-size: 2.5rem;
  background-color: var(--Background);
}

/* || NAV || */

.nav {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: var(--NavBg);
}

.home {
  color: #fff;
  text-decoration: none;
}

.nav-links a {
  font-size: 2rem;
  color: var(--NavLinks);
  text-decoration: none;
  margin-left: 1rem;
}

/* || MESSAGES || */

.err-msg {
  padding: .7em 15em;
  color: var(--DangerText);
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  background-color: var(--DangerBg);
  border: 1px solid var(--DangerBorder);
  border-radius: 1em;
  width: fit-content;
  margin: 0 auto 2em;
}

.success-msg {
  padding: .7em 15em;
  color: var(--SuccessText);
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  background-color: var(--SuccessBg);
  border: 1px solid var(--SuccessBorder);
  border-radius: 1em;
  width: fit-content;
  margin: 0 auto 2em;
}

/* || CONTENT || */

.overlay {
  box-shadow: 5px 5px 10px var(--Shadow),
    -5px -5px 10px var(--Shadow2);
}

.underlay {
  box-shadow: inset 5px 5px 10px var(--Shadow),
    inset -5px -5px 10px var(--Shadow2);
}

.hidden {
  display: none;
}

h1 {
  font-size: 5rem;
  text-align: center;
  margin: 1.5em 0 .5em;
}

.subtitle {
  color: gray;
  text-align: center;
  margin-bottom: 1em;
}

.content {
  font-size: 2.5rem;
}