/* || GENERAL || */

* {
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 0;
}

:root {
  --MainText: #000;
  --NavBg: #043659;
  --DangerBorder: #c68b8b;
  --DangerBg: #e3a5a5;
  --DangerText: #b00;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  font-size: 2.5rem;
}

/* || NAV || */

.nav {
  padding: 1em;
  background-color: var(--NavBg);
}

.nav a {
  color: #fff;
  text-decoration: none;
}

/* || MESSAGES || */

.err-msg {
  padding: .7em 15em;
  color: var(--DangerText);
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  background-color: var(--DangerBg);
  border: 1px solid var(--DangerBorder);
  border-radius: 1em;
  width: fit-content;
  margin: auto;
}

/* || CONTENT || */

h1 {
  font-size: 5rem;
  text-align: center;
  margin: 1.5em 0 .5em;
}

.subtitle {
  color: gray;
  text-align: center;
  margin-bottom: 1em;
}

/* || LIST || */

.list-display {
  margin: 1em 15vw 5vh;
}

.contact-list {
  font-size: 2rem;
  border-collapse: collapse;
  width: 100%;
  column-gap: 2em;
}

th,
td {
  text-align: left;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: .5em;
}

tr:nth-child(even) {
  background-color: #ddd;
}