<%- include('includes/header') %>
<%- include('includes/nav') %>

<section class="container">
  <h1>Agenda</h1>
  <p class="subtitle">Seus contatos</p>

  <div class="content">
    <div class="list-display">
      <% for (let i = 0; i < 9; i++) { %>
      <div class="contact overlay">
        <p>Álvaro</p>
        <p>Frade</p>
        <p>+5583991274756</p>
        <p>alvarorenancf00@gmail.com</p>
      </div>
      <% } %>
    </div>
  </div>
</section>

<%- include('includes/footer') %>