<%- include('includes/header') %>
<%- include('includes/nav') %>

<section class="container">
  <h1>Você já está logado!</h1>
  <p class="subtitle">Saia desta conta para criar outra</p>

  <%- include('includes/messages') %>
  </div>
</section>

<%- include('includes/footer') %>