<%- include('../includes/header') %>
<%- include('../includes/nav') %>

<section class="content error">
  <h1>Error 404</h1>
  <p class="subtitle">Page not found</p>
</section>

<%- include('../includes/footer') %>